#bottom-hbox {
    -fx-padding: 1em 1em 1em 1em;
}

.border-pane-child {
    -fx-background-insets: 1.5em;
}

.search-related {
    -fx-padding: 0.25em;
}

#game-selector-box {
    -fx-pref-width: 25em;
}

#search-list {
    -fx-pref-height: 40em;
    -fx-padding: 0.5em;
}

#title {
    -fx-text-alignment: left;
    -fx-font: bold 2em "Roboto";
    -fx-padding: 0.5em 2em 0.5em 2em;
}
