.tab-pane {
    -fx-tab-min-height: 1.5em;
    -fx-tab-max-height: 1.5em;
}

#pick-first-label {
    -fx-font-style: italic;
    -fx-font-size: 133%;
    -fx-text-fill: darkgray;
}

.vbox {
    -fx-padding: 1em;
}

.menu-button {
    -fx-padding: 0.1em 0.25em 0.1em 0.25em;
}

.status-bar {
    -fx-padding: 0.2em;
    -fx-pref-height: 1.5em;
}
