#title {
    -fx-font: normal bold 3em "Roboto";
}

#version-subtitle {
    -fx-font-size: 1.25em;
}

#detected-custom-title {
    -fx-padding: 0.1em 0.5em -0.2em 0.5em;
}

#centre-vbox {
    -fx-padding: 2em 3em 2em 3em;
}

#left-vbox {
    /*-fx-padding: 0 0 0 16;*/
}

#open-last {
}