#title {
    -fx-font-weight: bold;
    -fx-font-size: 3em;
}

#version-subtitle {
    -fx-font-size: 1.25em;
}

#detected-custom-title {
    -fx-padding: 0.1em 0.5em -0.2em 0.5em;
}

#centre-box {
    -fx-padding: 3em 4em 2em 4em;
}

#left-vbox {
    /*-fx-padding: 0 0 0 16;*/
}

.buttonWidth {
    -fx-pref-width: 25em
}

#progress-bar {
    -fx-pref-width: 25em
}

.spacing {
    -fx-spacing: 0.35em
}

#centre-pane {
    -fx-pref-height: 1em
}

.bad-custom-sfx {
    -fx-text-fill: red;
}

#db-version {
    -fx-label-padding: 0.25em 0.5em 0.25em 0.5em;
}
